body{
    background-image: url('../assets/img/white-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.highArea{
    background-color: #0b1d51;
    font-size: 16px;
}

.disclaimer{
    background-color: #1d1d1d;
    font-size: 14px;
    color: #a1a1a1;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

#icon-1, #icon-2, #icon-3, #icon-4{
    float: right;
    font-size: 35px;
    margin-left: 15px;
}

.admin-footer{
    bottom: -80%;
    position: absolute;
    left: 0;
    width: 100%;
}

.main-content{
    z-index: 1;
}

.welcome{
    background-image: url('img/bck.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.public-header, .admin-header{
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
}

.table{
    font-size: 14px;
}

.foot-start{
    background-color: #1d1d1d;
    font-size: 14px;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #ffffff;
    align-self: center;
    box-sizing: border-box;
}

.foot-start ul{
    font-weight: 400;
    text-align: justify;
}

.foot-start li{
    list-style: none;
    margin: 3px;
    display: inline-block;
    font-weight: 400;
}

.foot-start li i{
    color: #0b1d51;
}

#dash{
    width: 120px!important;
    display: inline-block;
}

#article_msg{
    width: 200px!important;
    display: inline-block;
}

#article_btn{
    top: -7px!important;
}

.table-article{
    box-shadow: 0 0 5px #384d48;
}

.table-article thead{
    box-shadow: 0 0 6px #384d48;
}