body{
    background-image: url('../assets/img/white-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.highArea{
    background-image: url('../assets/img/bck.jpg');
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

.disclaimer{
    background-color: #1d1d1d;
    font-size: 14px;
    color: #a1a1a1;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
}

#icon-1, #icon-2, #icon-3, #icon-4{
    float: right;
    font-size: 35px;
    margin-left: 15px;
}

.admin-footer{
    bottom: -60%;
    position: absolute;
    left: 0;
    width: 100%;
}

.main-content{
    z-index: 1;
}

.welcome{
    background-image: url('img/bck.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.public-header, .admin-header{
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 999;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.table{
    font-size: 14px;
}

.foot-start{
    background-color: #1d1d1d;
    font-size: 14px;
    font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
    color: #ffffff;
    align-self: center;
    box-sizing: border-box;
}

.foot-start ul{
    font-weight: 400;
    text-align: justify;
}

.foot-start li{
    list-style: none;
    margin: 3px;
    display: inline-block;
    font-weight: 400;
}

.foot-start li i{
    color: #0b1d51;
}

#dash{
    width: 190px!important;
    display: inline-block;
}

#article_msg{
    width: 250px!important;
    display: inline-block;
}

#article_btn{
    top: -7px!important;
}

.table-article{
    box-shadow: 0 0 5px #384d48;
}

.table-article thead{
    box-shadow: 0 0 6px #384d48;
}

.custom-footer-logo{
    display: inline-block;
}

.map{   
    max-width: 720px!important;
    height: 150px;
    display: inline-block;
}

.login-board{
    color: #bfc0c0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .login-board, .registration-board {
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.1);
      padding: 45px;
    }
}

#usernamehelp{
    color: #caf0f8!important;
}

.user-label, .password-label, .fname-label, .lname-label{
    color: #f6f1d1!important;
}

.first-heading{
    color: #f7ebe8!important;
}

.error{
    color: #8d2d3b!important;
    background-color: #ffcad4;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
}